body{
    background-repeat: no-repeat;
    background-size: max(100vw, 200vh);
    background-attachment: fixed;
    margin-top: 0;
}

table{
    min-width: 80%;
    border-collapse: collapse;
    margin: 10%;
    margin-top: 0%;
    margin-bottom: 100px;
}

th{
    text-align: left;
    margin-bottom: 0px;
    padding-top: 20px;
}
td{
    text-align: left;
    margin-bottom: 0px;
}

@keyframes ScaleFromNothing {
  from {scale: 0;}
  to {scale: 1;}
}

.portfolio_piece{
    transition: all 250ms;
    max-width: 49%;
    min-width: 49%;
    min-height: 100%;
    display:inline;
    float:left;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    padding: 0%;
    background-color: white;
    animation-name: ScaleFromNothing;
    animation-duration: 0.3s;
}

.portfolio_piece:hover{
    scale: 1.1;
}

h2{
    margin-bottom: 0px;
}

.small_text {
    font-size: medium;
}

button {
    padding: 10px 20px;
    padding-right: 40px;
    border: unset;
    border-radius: 15px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: black;
    z-index: 1;
    background: grey;
    position: relative;
    font-size: 32px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    clip-path: polygon(
        0% 0%,
        80% 0%,
        100% 50%,
        80% 100%,
        0% 100%
    );
    cursor: pointer;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #8f0404;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}

button:hover {
    color: #e8e8e8;
    scale: 1.1;
}

button:hover::before {
    width: 100%;
}

@keyframes Drop {
  from      {top:-3000px;}
  to        {top:0px;}
}
header {
    position: sticky;
    top: 0;
    background-color: #9D3B52;
    border: 5px solid #822D5C;
    border-top-width: 0px;
    padding-top: 1px;
    margin-top: -200px;
    color: white;
    z-index: 100;
    max-height: 200px;
    margin-bottom: 250px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    animation-name: Drop;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
}
nav {
    display: inline; /* or inline-block */
    margin-right: 10px; /* optional spacing */
}


footer {
    background-color: #9D3B52;
    border: 5px solid #822D5C;
    border-bottom-width: 0px;
    padding-bottom: 1px;
    color: white;
    z-index: 100;
    margin-bottom: -200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #FFF;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #005204;
}

input:checked + .slider:before {
  transform: translateX(26px);
}